.carouselContainer {
  width: 100%;
  max-height: 700px;
  overflow-x: hidden;
}

.carouselImage {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.slick-dots {
    position: relative; /* Set position to relative */
  }

.slick-dots li button {
    width: 20px !important; /* Adjust width as needed */
    height: 20px !important; /* Adjust height as needed */
    font-size: 20px !important; /* Adjust font size as needed */
    line-height: 20px !important; /* Adjust line height as needed to vertically center the text */
  }


